<div class = "container">
<h1>Football Typer</h1>

<div *ngIf="isLogin === false; else loginContent">
    <app-login (emiter)="isLogin=($event)"></app-login>
</div>
<ng-template #loginContent>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-item nav-link" [routerLink]="['/profile']">Profil<span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" [routerLink]="['/admin']">Admin</a>
              <a class="nav-item nav-link" [routerLink]="['/leagues']">Ligi</a>
              <a class="nav-item nav-link" [routerLink]="['/matches']">Mecze</a>

          </div>
        </div>
      </nav>
    <router-outlet></router-outlet>
  </ng-template>
</div>

